h1 {
  color: rgb(172, 106, 8);
  font-size: 48px;
}

h2 {
  color: rgb(255, 230, 0);
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(0, 0, 0);
}


p{
  background-color: rgb(167, 173, 78);
  padding: 10px;
}

p2{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
   color:  red;
   background-color:black
}

img{
  width: 900px;
  border: 5px solid black;
  border-radius: 10px;
  filter: drop-shadow(16px 16px 20px gray);
}

li{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(229, 255, 0);
}

#introduction{
  background-color: lightyellow;
  border: 2px solid black;
  padding: 20px;
}

.highlight{
  background-color: solid black;
  border: 2px solid black;
  padding: 20px;
}
  
